<%= form_with model: post, local: true do |f| %>

  <% if post.errors.any? %>
    <div class="errors">
      <ul>
        <% post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :title, t("posts.form.title") %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body, t("posts.form.body") %>
    <%= f.text_area :body %>
  </div>

  <%= f.submit t("posts.form.submit") %>

<% end %>
