<h1><%= t("posts.show.title") %></h1>

<h2><%= @post.title %></h2>

<p><%= @post.body %></p>

<p>
  <%= t("posts.show.posted_at") %>:
  <%= l(@post.created_at, format: :short) %>
</p>

<p>
  <%= t("posts.show.author") %>:
  <%= link_to @post.user.username, user_path(@post.user) %>
</p>

<% if @post.user == current_user %>
  <%= link_to t("posts.show.edit"), edit_post_path(@post) %> |
  <%= link_to t("posts.show.delete"), post_path(@post),
      data: { turbo_method: :delete, turbo_confirm: t("posts.show.confirm_delete") } %>
<% end %>

<hr>

<% if user_signed_in? %>
  <%= link_to t("posts.show.back"), user_posts_path(@post.user), class: "btn btn-secondary" %>
<% else %>
  <%= link_to t("posts.show.back"), root_path, class: "btn btn-secondary" %>
<% end %>
